@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.Container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}
h3{
    color: ;
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}
.span{
    color: rgba(255, 84, 0, 1);
}
p, li{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

            /* navbar style */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Logo{
    display: flex;
    align-items: center;
    width: 280px;
}
.Logo img{
    width:48px; 
    height: 56px;
    margin-right: .5rem;
}
.nav-option{
    display: flex;
    justify-content: space-evenly;
    gap:3rem;
}
.nav-option p{
    cursor: pointer;
}

/* Bannar */
.container-explore-your-traval{
    background-image: linear-gradient(180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
    ),
     url('../Images/Group\ 13\ \(1\)\ \(1\).png');
     padding: 7rem 0;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
}
.Explore-container h3{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.Explore-container p{
    color:rgb(209, 212, 214) ;
    font-size: 18px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
}

.traval-input{
    margin-top: 2rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    backdrop-filter:blur(4px);
}

input, select{
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-primary{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 1.75rem ;
    background-color:rgb(255, 84, 0);
    color:white;
    border: rgb(255, 84, 0);
    border-radius: 8px;
    font-weight:800;

}
/* populer section */
.popular-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:3rem;
    gap:3rem;
}

.popular-section img{
    width: 100%;
    height: 100%;
}
.text-conatnt{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}

.text-conatnt p, 
.text-conatnt li{
    font-size: 16px;
    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.text-conatnt p, 
.text-conatnt li,
.text-conatnt h3{
    text-align: left;
}


/* your dastination */

.your-destanition img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.row-1, 
.row-2, 
.row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1px 0;
    gap: 1rem;
}

.row-2{
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
}
.row-3{
    grid-template-columns: 0.75fr 1.25fr;
}
.country-card{
    position: relative;
}
.country{
    position:absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

/* footer section */

.footer-section{
    background: rgba(19, 19, 24, 0.05);
    padding: 2rem 0;
}

.footer-section, .Logo{
   margin: 2rem auto; 

}

.social{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;

}
.social i{
    width: 44px;
    font-size: 24px;

}
.footer-section hr{
    margin: 2rem 0;
}
.hams-burger{
    display: none;
}


        /* Responsive for phone tab and desktop */
@media screen and (max-width:576px) {
    .nav-option{
        display: none;
    }
    .hams-burger{
        display: block;
    }
    h3{
        font-size: 26px;
    }
    .hams-burger i{
        font-size: 26px;
    }
    .Container{
        margin: 3rem auto;
    }
    p{
        font-size: 16px;
    }
    .Explore-container h3{
        font-size: 26px;
    }
     .Explore-container p{
        width: 60%;
     }

     .traval-input{
        flex-direction: column;
        width: 70%;
        margin: auto;
     } 
     .traval-input input,
     .traval-input select,
     .traval-input button{
        width: 100%;
        margin: 1rem 0;
     }
     .popular-section, .row-1, .row-2, .row-3{
        grid-template-columns: 1fr;
    }
}